/* デスクトップパソコンのスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    .content-list-container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 3%;
        border-bottom: solid 2px #5f5f5f;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
    }

    /* おすすめ */
    .recommend-link {
        margin: 0 0 0 10%;
        color: #5f5f5f;
        text-decoration: none;
    }

    /* マイリスト */
    .mylist-link {
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #5f5f5f;
    }

    /* クリックされたリンクのスタイル（アクティブリンク） */
    .recommend-link.active-link,
    .mylist-link.active-link {
        color: #ff0000; /* 赤色 */
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4列に均等に配置 */
        font-family: Inter;
        font-size: 25px;
        font-weight: 400;
    }

    .search-results-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4列に均等に配置 */
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
    }

    .item {
        width: 290px;
        height: 320px;
        margin: 5% 0 0 10%;
        position: relative;
    }

    /* 商品画像 */
    .item-image {
        width: 290px;
        height: 290px;
    }

    /* Sold */
    .item-name-sold {
        width: 280px;
        height: 280px;
        font-size: 36px;
        font-weight: 900;
        color: #ff0000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        margin: 0;
        border-radius: 5px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    /* 商品名 */
    .item-name {
        font-size: 24px;
        margin: 0;
    }

    /* 「いいね」した商品はありません。メッセージ */
    .no-likes-message {
        font-size: 24px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }

    /* 該当する商品がありません。メッセージ */
    .no-items-message {
        font-size: 24px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }
}

/* タブレットのスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    .content-list-container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 3%;
        border-bottom: solid 2px #5f5f5f;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
    }

    /* おすすめ */
    .recommend-link {
        margin: 0 0 0 10%;
        color: #5f5f5f;
        text-decoration: none;
    }

    /* マイリスト */
    .mylist-link {
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #5f5f5f;
    }

    /* クリックされたリンクのスタイル（アクティブリンク） */
    .recommend-link.active-link,
    .mylist-link.active-link {
        color: #ff0000; /* 赤色 */
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列に均等に配置 */
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
    }

    .search-results-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列に均等に配置 */
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
    }

    .item {
        width: 205px;
        height: 268px;
        margin: 5% 0 0 10%;
        position: relative;
    }

    /* 商品画像 */
    .item-image {
        width: 205px;
        height: 205px;
    }

    /* Sold */
    .item-name-sold {
        width: 195px;
        height: 195px;
        font-size: 30px;
        font-weight: 900;
        color: #ff0000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        margin: 0;
        border-radius: 5px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    /* 商品名 */
    .item-name {
        font-size: 20px;
        margin: 0;
    }

    /* 「いいね」した商品はありません。メッセージ */
    .no-likes-message {
        font-size: 20px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }

    /* 該当する商品がありません。メッセージ */
    .no-items-message {
        font-size: 20px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }
}
