/* デスクトップパソコンのスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    .page-wrapper {
        overflow-x: hidden;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 82px;
        background-color: black;
    }

    .header-logo-container {
        width: 33.3%;
        height: 82px;
        margin: 0;
        padding-left: 15px;
    }

    /* ヘッダーロゴ */
    .header-logo {
        display: block;
        width: 370px;
        height: 36px;
        margin: 23px 0;
    }
}

/* タブレットのスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    .page-wrapper {
        overflow-x: hidden;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 69px;
        background-color: black;
    }

    .header-logo-container {
        width: 33.3%;
        height: 69px;
        margin: 0;
        padding-left: 15px;
    }

    /* ヘッダーロゴ */
    .header-logo {
        display: block;
        width: 188px;
        height: 36px;
        margin: 16.5px 0;
    }
}
