/* デスクトップパソコンのスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    .profile-container {
        font-family: Inter;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1017px;
        height: 150px;
        margin: 5% auto;
    }

    .profile-info {
        display: flex;
        align-items: center;
    }

    /* 画像表示部分のスタイル */
    .profile-image-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    /* プロフィール画像 */
    .profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    /* ユーザー名 */
    .profile-username {
        font-size: 36px;
        font-weight: 700;
        margin: 20px 0 20px 20%;
        white-space: nowrap;
    }

    /* ★全体 */
    .rating-modal-stars {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    }

    /* ★単体 */
    .rating-modal-star {
        width: 40px;
        height: 40px;
        color: rgba(217, 217, 217, 1);
        font-size: 40px;
        line-height: 40px;
        margin: 0;
    }

    /* プロフィールを編集ボタン */
    .profile-edit-link {
        text-decoration: none;
        text-align: center;
        width: 310px;
        height: 59px;
        font-size: 26px;
        font-weight: 700;
        padding: 7px 26px;
        color: #ff5555;
        border: solid 2px #ff5555;
        border-radius: 10px;
    }

    .content-list-container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 3%;
        border-bottom: solid 2px #5f5f5f;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
    }

    /* タブ */
    .sell-link,
    .buy-link {
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #5f5f5f;
    }

    .trading-link-container {
        display: flex;
        align-items: center;
        margin: 0 0 0 5%;
    }

    .trading-link {
        text-decoration: none;
        color: #5f5f5f;
    }

    /* クリックされたリンクのスタイル（アクティブリンク） */
    .sell-link.active-link,
    .buy-link.active-link,
    .trading-link.active-link {
        color: #ff0000;
    }

    /* 通知マーク */
    .notification-icon {
        width: 27px;
        height: 27px;
        background-color: rgba(255, 0, 0, 1);
        border-radius: 10px;
        font-size: 24px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        padding: 2px 5.375px;
        line-height: 27px;
        margin: 0 10px;
    }

    .no-items-message {
        font-size: 24px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4列に均等に配置 */
        font-family: Inter;
        font-size: 25px;
        font-weight: 400;
    }

    .item {
        width: 290px;
        height: 320px;
        margin: 5% 0 0 10%;
        position: relative;
    }

    /* 商品画像 */
    .item-image {
        width: 290px;
        height: 290px;
        background-color: #d9d9d9;
    }

    /* Sold */
    .item-name-sold {
        width: 280px;
        height: 280px;
        font-size: 36px;
        font-weight: 900;
        color: #ff0000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        margin: 0;
        border-radius: 5px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    /* 商品名 */
    .item-name {
        margin: 0;
    }
}

/* タブレットのスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    .profile-container {
        font-family: Inter;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 680px;
        margin: 5% auto;
    }

    .profile-info {
        display: flex;
        align-items: center;
    }

    /* 画像表示部分のスタイル */
    .profile-image-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #d9d9d9;
    }

    /* プロフィール画像 */
    .profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    /* ユーザー名 */
    .profile-username {
        font-size: 22px;
        font-weight: 700;
        margin-left: 20%;
        white-space: nowrap;
    }

    /* プロフィールを編集ボタン */
    .profile-edit-link {
        text-decoration: none;
        text-align: center;
        width: 250px;
        height: 59px;
        font-size: 22px;
        font-weight: 700;
        padding: 13px 0;
        color: #ff5555;
        border: solid 2px #ff5555;
        border-radius: 10px;
    }

    .content-list-container {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        margin-top: 3%;
        border-bottom: solid 2px #5f5f5f;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
    }

    /* 出品した商品、購入した商品 */
    .sell-link,
    .buy-link {
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #5f5f5f;
    }

    /* クリックされたリンクのスタイル（アクティブリンク） */
    .sell-link.active-link,
    .buy-link.active-link {
        color: #ff0000;
    }

    .no-items-message {
        font-size: 20px;
        font-weight: 700;
        color: #5f5f5f;
        white-space: nowrap;
        margin-left: 10%;
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3列に均等に配置 */
        font-family: Inter;
        font-size: 25px;
        font-weight: 400;
    }

    .item {
        width: 205px;
        height: 268px;
        margin: 5% 0 0 10%;
        position: relative;
    }

    /* 商品画像 */
    .item-image {
        width: 205px;
        height: 205px;
        background-color: #d9d9d9;
    }

    /* Sold */
    .item-name-sold {
        width: 195px;
        height: 195px;
        font-size: 30px;
        font-weight: 900;
        color: #ff0000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        margin: 0;
        border-radius: 5px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    /* 商品名 */
    .item-name {
        margin: 0;
        font-size: 16px;
    }
}
