/* デスクトップパソコンのスタイル */
@media (min-width: 1400px) and (max-width: 1540px) {
    /* 共通ヘッダー検索 */
    .header-search-form {
        display: none;
    }

    /* 共通ヘッダーnav */
    .header-nav {
        display: none;
    }

    .buyer-container,
    .seller-container {
        min-height: 100vh;
        display: flex;
        font-family: Inter;
    }

    /* 左列全体 */
    .sidebar {
        width: 17%;
        background-color: #868686;
        text-align: center;
        overflow-y: auto; /* スクロールできる */
    }

    .back-link {
        display: inline-block;
        margin-top: 20px;
        color: #000000;
    }

    /* サイドバータイトル */
    .sidebar-title {
        font-size: 25px;
        font-weight: 400;
        color: #ffffff;
    }

    /* サイドバーボタン　枠 */
    .trading-item {
        width: 197px;
        height: 40px;
        margin: 0 auto;
        background-color: #eeefeb;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    /* サイドバーボタン　文字 */
    .item-link {
        max-width: 100%;
        white-space: nowrap; /* 改行しない */
        overflow: hidden; /* 内部の文字がはみ出すのを防ぐ */
        text-decoration: none;
        color: #000000;
    }

    /* 右列全体 */
    .right-column-container {
        width: 83%;
        height: 100%;
    }

    /* コンテンツ全体 */
    .content {
        height: 90%;
    }

    /* 右列　1行目 */
    .chat-room-info {
        border-bottom: solid 2px #5f5f5f;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chat-room-left-container {
        display: flex;
        align-items: center;
    }

    /* 1行目　ユーザー画像 */
    .chat-room-user-img {
        width: 79px;
        height: 79px;
        border-radius: 50%;
        margin: 10px 30px;
    }

    /* 1行目　タイトル */
    .chat-room-title {
        font-size: 36px;
        font-weight: 700;
        margin: 0;
    }

    .chat-room-right-container {
        margin-right: 30px;
    }

    /* 「取引を完了する」ボタン */
    .transaction-complete-button {
        width: 172px;
        height: 54px;
        background-color: #ff8282;
        border: none;
        border-radius: 30px;
        padding: 0;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
    }

    /* 右列　2行目 */
    .trading-item-info {
        border-bottom: solid 2px #5f5f5f;
        display: flex;
        align-items: center;
    }

    /* 商品画像 */
    .item-img {
        width: 203px;
        height: 206px;
        margin: 10px 30px;
    }

    /* 商品名 */
    .item-name {
        font-size: 48px;
        font-weight: 700;
        margin: 0 0 30px 0;
    }

    /* 商品価格 */
    .item-price {
        font-size: 36px;
        font-weight: 400;
        margin: 0;
    }

    .item-price::before {
        content: "￥";
    }

    .item-price::after {
        content: "（税込）";
    }

    /* メッセージ全体 */
    .message-container {
        margin: 20px 30px;
        padding-bottom: 30px;
    }

    /* メッセージ　左側 */
    .left-user-message-container {
        width: 40%;
        margin-bottom: 30px;
    }

    .left-user-details {
        display: flex;
        align-items: center;
    }

    /* メッセージ　右側 */
    .right-user-message-container {
        width: 40%;
        text-align: right;
        margin-left: 60%;
        margin-bottom: 30px;
    }

    .right-user-details {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    /* メッセージ内　ユーザー画像 */
    .left-user-message-img,
    .right-user-message-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    /* メッセージ内　ユーザー名 */
    .left-user-name,
    .right-user-name {
        margin: 0 30px;
        font-size: 20px;
        font-weight: 700;
    }

    /* メッセージ内　表示内容 */
    .left-user-message,
    .right-user-message {
        background-color: #d9d9d9;
        padding: 10px 20px;
        margin: 10px 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
    }

    .left-user-img,
    .right-user-img {
        width: 400px;
        height: 300px;
    }

    .message-actions {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    /* 「編集」「削除」ボタン */
    .edit-button,
    .delete-button {
        background-color: #ffffff;
        border: none;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        color: #5f5f5f;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    /* コンテンツ内フッター */
    .footer {
        position: fixed;
        bottom: 0;
        width: 83%;
        padding: 0 30px;
        background-color: #ffffff;
        z-index: 100;
    }

    /* エラーメッセージ */
    .error-message {
        font-size: 16px;
        font-weight: 700;
        color: red;
        margin: 0 20px;
    }

    .confirm-container,
    .update-confirm-container {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /* 画像送信確認画面 */
    .image-upload-preview,
    .update-image-upload-preview {
        width: 200px;
        height: 100px;
        border: solid 1px rgba(95, 95, 95, 1);
    }

    .submit-container,
    .update-submit-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* チャット入力欄 */
    .message-input,
    .update-message-input {
        width: 850px;
        height: 44px;
        border: solid 1px rgba(95, 95, 95, 1);
        border-radius: 4px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        color: rgba(123, 123, 123, 1);
        padding: 10px 20px;
    }

    .image-upload-container,
    .update-image-upload-container {
        width: 143px;
        height: 44px;
        border-radius: 10px;
        border: solid 2px rgba(255, 85, 85, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 「画像を追加」ボタン */
    .image-upload-button,
    .update-image-upload-button {
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        color: rgba(255, 85, 85, 1);
    }

    .image-upload-input,
    .update-image-upload-input {
        display: none;
    }

    /* 送信ボタン */
    .submit-button,
    .update-submit-button {
        border: none;
        background-color: #ffffff;
        padding: 0;
    }

    /* 送信アイコン */
    .send-icon,
    .update-send-icon {
        width: 80px;
        height: 60px;
    }
}

/* タブレットのスタイル */
@media (min-width: 768px) and (max-width: 850px) {
    /* 共通ヘッダー検索 */
    .header-search-form {
        display: none;
    }

    /* 共通ヘッダーnav */
    .header-nav {
        display: none;
    }

    .buyer-container,
    .seller-container {
        min-height: 100vh;
        display: flex;
        font-family: Inter;
    }

    /* 左列全体 */
    .sidebar {
        width: 17%;
        background-color: #868686;
        text-align: center;
        overflow-y: auto; /* スクロールできる */
    }

    .back-link {
        display: inline-block;
        margin-top: 20px;
        color: #000000;
    }

    /* サイドバータイトル */
    .sidebar-title {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
    }

    /* サイドバーボタン　枠 */
    .trading-item {
        width: 120px;
        height: 40px;
        margin: 0 auto;
        background-color: #eeefeb;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    /* サイドバーボタン　文字 */
    .item-link {
        max-width: 100%;
        white-space: nowrap; /* 改行しない */
        overflow: hidden; /* 内部の文字がはみ出すのを防ぐ */
        text-decoration: none;
        font-size: 15px;
        color: #000000;
    }

    /* 右列全体 */
    .right-column-container {
        width: 83%;
        height: 100%;
    }

    /* コンテンツ全体 */
    .content {
        height: 90%;
    }

    /* 右列　1行目 */
    .chat-room-info {
        border-bottom: solid 2px #5f5f5f;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chat-room-left-container {
        display: flex;
        align-items: center;
    }

    /* 1行目　ユーザー画像 */
    .chat-room-user-img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        margin: 10px 30px;
    }

    /* 1行目　タイトル */
    .chat-room-title {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
    }

    .chat-room-right-container {
        margin-right: 30px;
    }

    /* 「取引を完了する」ボタン */
    .transaction-complete-button {
        width: 130px;
        height: 52px;
        background-color: #ff8282;
        border: none;
        border-radius: 30px;
        padding: 0;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
    }

    /* 右列　2行目 */
    .trading-item-info {
        border-bottom: solid 2px #5f5f5f;
        display: flex;
        align-items: center;
    }

    /* 商品画像 */
    .item-img {
        width: 205px;
        height: 205px;
        margin: 10px 30px;
    }

    /* 商品名 */
    .item-name {
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 30px 0;
    }

    /* 商品価格 */
    .item-price {
        font-size: 25px;
        font-weight: 400;
        margin: 0;
    }

    .item-price::before {
        content: "￥";
    }

    .item-price::after {
        content: "（税込）";
    }

    /* メッセージ全体 */
    .message-container {
        margin: 20px 30px;
        padding-bottom: 30px;
    }

    /* メッセージ　左側 */
    .left-user-message-container {
        width: 40%;
        margin-bottom: 30px;
    }

    .left-user-details {
        display: flex;
        align-items: center;
    }

    /* メッセージ　右側 */
    .right-user-message-container {
        width: 40%;
        text-align: right;
        margin-left: 60%;
        margin-bottom: 30px;
    }

    .right-user-details {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    /* メッセージ内　ユーザー画像 */
    .left-user-message-img,
    .right-user-message-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    /* メッセージ内　ユーザー名 */
    .left-user-name,
    .right-user-name {
        margin: 0 20px;
        font-size: 16px;
        font-weight: 700;
    }

    /* メッセージ内　表示内容 */
    .left-user-message,
    .right-user-message {
        background-color: #d9d9d9;
        padding: 10px 20px;
        margin: 10px 0;
        text-align: left;
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
    }

    .left-user-img,
    .right-user-img {
        width: 200px;
        height: 150px;
    }

    .message-actions {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    /* 「編集」「削除」ボタン */
    .edit-button,
    .delete-button {
        background-color: #ffffff;
        border: none;
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        color: #5f5f5f;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    /* コンテンツ内フッター */
    .footer {
        position: fixed;
        bottom: 0;
        width: 83%;
        padding: 0 30px;
        background-color: #ffffff;
        z-index: 100;
    }

    /* エラーメッセージ */
    .error-message {
        font-size: 16px;
        font-weight: 700;
        color: red;
        margin: 0 20px;
    }

    .confirm-container,
    .update-confirm-container {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /* 画像送信確認画面 */
    .image-upload-preview,
    .update-image-upload-preview {
        width: 200px;
        height: 100px;
        border: solid 1px rgba(95, 95, 95, 1);
    }

    .submit-container,
    .update-submit-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* チャット入力欄 */
    .message-input,
    .update-message-input {
        width: 420px;
        height: 40px;
        border: solid 1px rgba(95, 95, 95, 1);
        border-radius: 4px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        color: rgba(123, 123, 123, 1);
        padding: 10px 20px;
    }

    .image-upload-container,
    .update-image-upload-container {
        width: 70px;
        height: 40px;
        border-radius: 10px;
        border: solid 2px rgba(255, 85, 85, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 「画像を追加」ボタン */
    .image-upload-button,
    .update-image-upload-button {
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        color: rgba(255, 85, 85, 1);
    }

    .image-upload-input,
    .update-image-upload-input {
        display: none;
    }

    /* 送信ボタン */
    .submit-button,
    .update-submit-button {
        border: none;
        background-color: #ffffff;
        padding: 0;
    }

    /* 送信アイコン */
    .send-icon,
    .update-send-icon {
        width: 50px;
        height: 40px;
    }
}
